<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fctg-airlink-demofn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d8fc4dbd-42d5-4444-bd5b-1c3215b58a58/resourceGroups/RG-FCTG-Oasis-TST/providers/Microsoft.Web/sites/FCTG-Airlink-DemoFn</ResourceId>
    <UserName>$FCTG-Airlink-DemoFn</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fctg-airlink-demofn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>